<section class="about">
  <div class="about-img">
    <div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide"><picture class="project-picture">
                                <img
                                class="project-pic"
                                src="../img/aboutme-gallery/pic1.jpg"
                                alt="reels1"
                                width="100%"
                                height="100%"
                                />
                            </picture></div>
    <div class="swiper-slide"><picture class="project-picture">
                                <img
                                class="project-pic"
                                src="../img/aboutme-gallery/pic2.jpg"
                                alt="reels2"
                                width="100%"
                                height="100%"
                                />
                            </picture></div>
    <div class="swiper-slide"><picture class="project-picture">
                                <img
                                class="project-pic"
                                src="../img/aboutme-gallery/pic3.jpg"
                                alt="reels3"
                                width="100%"
                                height="100%"
                                />
                            </picture></div>
    <div class="swiper-slide"><picture class="project-picture">
                                <img
                                class="project-pic"
                                src="../img/aboutme-gallery/pic4.jpg"
                                alt="reels4"
                                width="100%"
                                height="100%"
                                />
                            </picture></div>
    <div class="swiper-slide"><picture class="project-picture">
                                <img
                                class="project-pic"
                                src="../img/aboutme-gallery/pic5.jpg"
                                alt="reels5"
                                width="100%"
                                height="100%"
                                />
                            </picture></div>
    <!-- <div class="swiper-slide">Slide 3</div>
    <div class="swiper-slide">Slide 3</div>
    <div class="swiper-slide">Slide 3</div>
    <div class="swiper-slide">Slide 3</div>
    <div class="swiper-slide">Slide 3</div>
    <div class="swiper-slide">Slide 3</div> -->
  </div>
   <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  </div>
  <div class="about-text-container">
    <p class="about-text">
      Nasza wypożyczalnia łodzi dla wędkarzy to miejsce, gdzie pasja spotyka się
      z profesjonalizmem i wyjątkowym podejściem do klienta. Oferujemy szeroką
      gamę łodzi, idealnych zarówno dla doświadczonych wędkarzy, jak i osób
      dopiero rozpoczynających swoją przygodę z wędkarstwem. Wiemy, że każda
      wyprawa na ryby jest wyjątkowa, dlatego nasza obsługa jest gotowa
      dostosować się do Twoich potrzeb. Potrzebujesz łodzi na kilka godzin, cały
      dzień, a może na cały weekend? U nas to Ty decydujesz, jak długo chcesz
      korzystać z łodzi – jesteśmy elastyczni i dostosowujemy się do Twojego
      harmonogramu. Dodatkowo, jeśli masz specjalne wymagania dotyczące
      wyposażenia, z przyjemnością pomożemy w wyborze najlepszego sprzętu, by
      Twoja wyprawa była jak najbardziej udana. Naszym priorytetem jest Twoje
      zadowolenie, dlatego oferujemy również opcję rezerwacji online oraz
      możliwość zmiany terminu wypożyczenia bez dodatkowych opłat. Bez względu
      na to, czy planujesz poranną wyprawę na jezioro, czy całodniową eskapadę w
      poszukiwaniu najlepszych łowisk, jesteśmy tu, aby zapewnić Ci
      niezapomniane wrażenia z wędkowania. Dołącz do grona zadowolonych klientów
      i ciesz się swobodą wędkowania na naszych łodziach, dostosowanych do
      Twoich indywidualnych potrzeb.
    </p>
  </div>
</section>
