<footer
  class="footer glass-bg"
  data-aos="fade-up"
  data-aos-anchor-placement="top-bottom"
  id="footer"
>
  <div class="container footer-container">
    <div class="footer-top">
      <img
        class="header-img-logo"
        src="../img/hook.svg"
        alt="img-logo"
        height="50"
        width="50"
      />

      <h2 class="footer-title">
        Masz pytanie<span class="title-accent"> napisz do nas</span>
      </h2>
      <!-- <h2 class="footer-title">together</h2> -->
    </div>
    <form class="footer-form">
      <div class="input-wrapper">
        <input
          class="footer-form-input"
          id="user-email"
          type="email"
          name="e-mail"
          placeholder="client@gmail.com"
          autocomplete="off"
          aria-label="Email"
          pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
        />
        <div id="email-mirror" class="input-mirror"></div>
      </div>
      <div class="input-wrapper">
        <input
          class="footer-form-input"
          id="user-comment"
          type="text"
          name="comments"
          placeholder="komentarz"
          autocomplete="off"
          aria-label="Comments"
        />
        <div id="comment-mirror" class="input-mirror"></div>
      </div>
      <button
        class="footer-form-btn"
        id="form-btn"
        type="submit"
        aria-label="submit form"
      >
        Wyslij
      </button>
    </form>
    <address class="footer-bottom">
      <ul class="contacts">
        <li class="contacts-item contacts-mail">
          <a
            class="contacts-link"
            href="mailto:wypozyczalnia@gmail.com"
            rel="noopener
            noreferrer"
            aria-label="Email Lloyd Jefferson"
            >wypozyczalnia@gmail.com</a
          >
        </li>
        <li class="contacts-item contacts-phone">
          <a
            class="contacts-link"
            href="tel:++4801111111111"
            rel="noopener
            noreferrer"
            aria-label="Zadzwoń teraz"
            >+4801111111111</a
          >
        </li>
      </ul>
    </address>
  </div>
</footer>
<!-- Modal -->
<div class="footer-backdrop">
  <div class="modal">
    <div class="modal-box">
      <button class="close-btn" type="button" aria-label="close modal">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M18 6L6 18"
            stroke="#FAFAFA"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M6 6L18 18"
            stroke="#FAFAFA"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
      <h3 class="modal-title">Thank you for your interest in cooperation!</h3>
      <p class="modal-message">
        The manager will contact you shortly to discuss further details and
        opportunities for cooperation. Please stay in touch.
      </p>
    </div>
  </div>
</div>
<script>
  function truncateText(input, mirror) {
    const maxWidth = input.clientWidth; // Максимальна ширина поля вводу
    const padding =
      parseInt(getComputedStyle(input).paddingLeft) +
      parseInt(getComputedStyle(input).paddingRight); // Padding
    const border =
      parseInt(getComputedStyle(input).borderLeftWidth) +
      parseInt(getComputedStyle(input).borderRightWidth); // Border
    const availableWidth = maxWidth - padding - border; // Доступна ширина для тексту
    mirror.style.fontSize = getComputedStyle(input).fontSize;
    mirror.style.fontFamily = getComputedStyle(input).fontFamily;
    mirror.style.padding = getComputedStyle(input).padding;
    mirror.style.border = getComputedStyle(input).border;
    let text = input.value;
    let truncatedText = text;
    mirror.textContent = text;
    if (mirror.offsetWidth > availableWidth) {
      for (let i = text.length - 1; i >= 0; i--) {
        mirror.textContent = text.substring(0, i) + '...';
        if (mirror.offsetWidth <= availableWidth) {
          truncatedText = text.substring(0, i) + '...';
          break;
        }
      }
    }
    input.value = truncatedText;
  }
  const emailInput = document.getElementById('user-email');
  const emailMirror = document.getElementById('email-mirror');
  emailInput.addEventListener('input', function () {
    truncateText(this, emailMirror);
  });
  const commentInput = document.getElementById('user-comment');
  const commentMirror = document.getElementById('comment-mirror');
  commentInput.addEventListener('input', function () {
    truncateText(this, commentMirror);
  });
</script>
