.about {
  /* background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 4%,
    rgb(72, 70, 86) 100%
  ); */
  background: #fff;
}
.about-text-container {
  width: 680px;
  margin: 0 auto;
  padding: 50px 20px;
  color: #fff;
  background-color: rgba(38, 30, 30, 0.238);
  box-shadow: 10px;
  border-radius: 25px;
}
/* ******************* */
